<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Ahoy<%= @friendName === '' ? '' : ' ' + @friendName %>!</h3>
    <p>
      <%= @yourName %> invites you to play a game on CheckMatey!
      <br>
      <%= @message %>
      <br>
      gameId: <%= @challengeId %>
      <br>
      gameType: <%= @gameType %>
      <br>
      gameTime: <%= @gameTime %>
      <br>
      username: <%= @username %>
    </p>
    
    https://checkmatey.herokuapp.com/challenges/<%= @username %>/<%= @yourName == 'A User' ? 'User' : @yourName%>/<%= @challengeId %>/<%= @gameType %>/<%= @gameTime %>

    localhost:3000/challenges/<%= @username %>/<%= @yourName == 'A User' ? 'User' : @yourName%>/<%= @challengeId %>/<%= @gameType %>/<%= @gameTime %>



  </body>
</html>