<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Ahoy<%= @friendName === '' ? '' : ' ' + @friendName %>!</h3>
    <p>
      <%= @yourName %> invites you to play a game of chess on CheckMatey!
      <br>
      <%= @message %>
      <br>
      Use this link to accept the challenge:
    </p>
    
    https://checkmatey.herokuapp.com/challenges/<%= @username %>/<%= @yourName == 'A User' ? 'User' : @yourName%>/<%= @challengeId %>/<%= @gameType %>/<%= @gameTime %>
    <br>
    <br>
    



  </body>
</html>